
/* @import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@400;500;600&family=Poppins:wght@300&display=swap'); */


*{
    
    margin: 0;
    padding: 0;

      /* background-image: url(./gallery/Home.jpg.avif);  
     background-repeat: no-repeat;
     background-attachment: fixed;  
     background-size: cover; */
    /* background-color:#DCBFFF;  */
}
/* .container-fluide{
    background-image: url(./gallery/home.jpg);
} */