*{
    margin: 0;
    padding: 0;
   
}
.Content{
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color:#DCBFFF; 
    box-shadow: 10px 10px 5px lightblue;
    
  }
/* .container-fluid{
    
} */